<!DOCTYPE html>
<html>
    <head>
  
      <meta charset="UTF-8">
    <title>hi</title>
  

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  
      
    </head>
    <body class="main_logo su">
      
      <div class="cc"> 
      </div>
       <div>
          <div>
            <div class="su_top su_margin">
              <span class="bigbig">회원가입</span>
                <br />
            </div>
          </div>
          <br>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div>
            <div>

             <%= f.label :이름, class: 'e_title' %>&nbsp;
             <%= f.text_field :name, autofocus: true, class: 'e_input'%>
            </div>
          </div>
          <br>
          
            <%= f.hidden_field :experience, :value => 0 %>
            <%= f.hidden_field :level, :value => 0 %>
            <div>
              <%= f.label :이메일, class: 'e_title' %>&nbsp;
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'e_input' %>
            </div>
            <br>
            <div>
              <%= f.label :비밀번호, class: 'e_title' %>
                <% if @minimum_password_length %>

                <% end %>&nbsp;
              <%= f.password_field :password, autocomplete: "off" , placeholder: '(최소 6글자 ! )',class: 'e_input'%>
            </div>
                              
            <br>
            <div>
              <%= f.label :비밀번호_확인, class: 'e_title' %>&nbsp;
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'e_input' %>
            </div>
            <br>
            

            
          <!--MBTI 라디오버튼 대신 이게 깔끔할 거 같아서... 고쳐주세용>
          <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
            MBTI
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
          </ul>
        </div>
          <--> <div class = "test">
            <center>
           <div id="myBtn" class="all_btn">꼭! 성향 선택</div>
           <div class="gotest">
          &nbsp;&nbsp;혹시 아직 내 성향을 모른다면?
          <br>
              <!--<button onclick="location.href='https://www.16personalities.com/ko'" target="_blank" class="bttn_s">MBTI 검사하러 슝슝!</button>-->
              <a href ="https://www.16personalities.com/ko/%EB%AC%B4%EB%A3%8C-%EC%84%B1%EA%B2%A9-%EC%9C%A0%ED%98%95-%EA%B2%80%EC%82%AC" target="_blank">성향 검사하러 가기 !</a>
              </center>
              </div>
              </div>
             <br>
             
             <!-- Trigger/Open The Modal -->
            <!-- The Modal -->
            <div id="myModal" class="modal">
              <!-- Modal content -->
              <div class="modal-content">
                
                
                <p>

                  <div class = "m-title">
                   <head> 본인의 성향을 선택 후 저장하기를 눌러주세요!</head>
                   </div>
                   <p style="margin-bottom:0;text-align:center;display:none;"><%= f.label :mbti %></p>
                   
                  
                   <!--이미지스 -->
                   
                   
                    <div class ="container">
                     
                      <div class ="conA">
                       <%= image_tag "a-1.png" %>
                     
                      <div class ="text">
                        
                        
                       <a href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-intj" target="_blank"><span class="badge">INTJ 성향은요?</span></a><br>
                         <label class="radio_button active">"용의주도한 전략가"<br>INTJ<br>
                        
                           <%= f.radio_button :mbti, 'INTJ', checked: true %>
                          </label>
                          </div>
                          </div>
                     
                      
                      <div class ="conA">
                     <%= image_tag "a-2.png" %>
                     <div class ="text">
                       <a href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-intp" target="_blank"><span class="badge">INTP 성향은요?</span></a><br>
                      <label class="radio_button">"논리적인 사색가"<br>INTP<br>
                      
                         <%= f.radio_button :mbti, 'INTP' %>
                      </label>
                      </div>
                      </div>

                      <div class ="conA">
                       <%= image_tag "a-3.png" %>
                       <div class ="text">
                         <a href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-entp" target="_blank"><span class="badge">ENTJ 성향은요?</span></a><br>
                      <label class="radio_button">"대담한 통솔자"<br>ENTJ<br>
                       
                         <%= f.radio_button :mbti, 'ENTJ' %>
                      </label>
                      </div>
                      </div>
                      
                      
                      <div class ="conA">
                      
                      <%= image_tag "a-4.png" %>
                      <div class ="text">
                          <a href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-entp" target="_blank"><span class="badge">ENTP 성향은요?</span></a><br>
                      <label class="radio_button">"논쟁을 즐기는 변론가"<br>ENTP<br>
                      
                         <%= f.radio_button :mbti, 'ENTP' %>
                      </label>
                      </div>
                      </div>
                      
                      
                      <div class ="conA">
                      <%= image_tag "b-1.png" %>
                      <div class ="text">
                        <a href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-infj" target="_blank"><span class="badge">INFJ 성향은요?</span></a><br>
                      <label class="radio_button">"선의의 옹호자"<br>INFJ<br>
                         <%= f.radio_button :mbti, 'INFJ' %>
                      </label>
                      </div>
                      </div>
                      
                      
                      <div class ="conA">
                      <%= image_tag "b-2.png" %>
                      <div class ="text">
                        <a href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-infp" target="_blank"><span class="badge">INFP 성향은요?</span></a><br>
                      <label class="radio_button">"열정적인 중재자"<br>INFP<br>
                         <%= f.radio_button :mbti, 'INFP' %>
                      </label>
                      </div>
                      </div>
                      
                      <div class ="conA">
                        <%= image_tag "b-3.png" %>
                        <div class ="text">
                          <a href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-enfj" target="_blank"><span class="badge">ENFJ 성향은요?</span></a><br>
                      <label class="radio_button">"정의로운 사회운동가"<br>ENFJ<br>
                         <%= f.radio_button :mbti, 'ENFJ' %>
                      </label>
                      </div>
                      </div>
                      
                      
                      <div class ="conA">
                      
                        <%= image_tag "b-4.png" %>
                        
                        <div class ="text">
                          <a href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-enfp" target="_blank"><span class="badge">ENFP 성향은요?</span></a><br>
                      <label class="radio_button">"재기발랄한 활동가"<br>ENFP<br>
                         <%= f.radio_button :mbti, 'ENFP' %>
                      </label>
                      </div>
                      </div>
                      
                      <div class ="conA">
                        <%= image_tag "c-1.png" %>
                        <div class ="text">
                          <a href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-istj" target="_blank"><span class="badge">ISTJ 성향은요?</span></a><br>
                      <label class="radio_button">"청렴결백한 논리주의자"<br>ISTJ<br>
                         <%= f.radio_button :mbti, 'ISTJ' %>
                      </label>
                      </div>
                      </div>
                      
                      <div class ="conA">
                      <%= image_tag "c-2.png" %>
                      <div class ="text">
                        <a href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-isfj" target="_blank"><span class="badge">ISFJ 성향은요?</span></a><br>
                      <label class="radio_button">"용감한 수호자"<br>ISFJ<br>
                         <%= f.radio_button :mbti, 'ISFJ' %>
                      </label>
                      </div>
                      </div>
                      
                      <div class ="conA">
                        <%= image_tag "c-3.png" %>
                        <div class ="text">
                          <a href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-estj" target="_blank"><span class="badge">ESTJ 성향은요?</span></a><br>
                      <label class="radio_button">"엄격한 관리자"<br>ESTJ<br>
                         <%= f.radio_button :mbti, 'ESTJ' %>
                      </label>
                      </div>
                      </div>
                      
                      
                      
                      <div class ="conA">
                        <%= image_tag "c-4.png" %>
                        <div class ="text">
                          <a href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-esfj" target="_blank"><span class="badge">ESFJ 성향은요?</span></a><br>
                      <label class="radio_button">"사교적인 외교관"<br>ESFJ<br>
                         <%= f.radio_button :mbti, 'ESFJ' %>
                      </label>
                      </div>
                      </div>
                      
                      
                      <div class ="conA">
                        
                      <%= image_tag "d-1.png" %>
                      <div class ="text">
                        <a href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-istp" target="_blank"><span class="badge">ISTP 성향은요?</span></a><br>
                      <label class="radio_button">"만능 재주꾼"<br>ISTP<br>
                         <%= f.radio_button :mbti, 'ISTP' %>
                      </label>
                      </div>
                      </div>
                      
                      <div class ="conA">
                        <%= image_tag "d-2.png" %>
                        <div class ="text">
                          <a href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-isfp" target="_blank"><span class="badge">ISFP 성향은요?</span></a><br>
                      <label class="radio_button">"호기심 많은 예술가"<br>ISFP<br>
                         <%= f.radio_button :mbti, 'ISFP' %>
                      </label>
                      </div>
                      </div>
                      
                      
                      <div class ="conA">
                        <%= image_tag "d-3.png" %>
                        <div class ="text">
                          <a href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-estp" target="_blank"><span class="badge">ESTP 성향은요?</span></a><br>
                      <label class="radio_button">"모험을 즐기는 사업가"<br>ESTP<br>
                         <%= f.radio_button :mbti, 'ESTP' %>
                      </label>
                      </div>
                      </div>
                      
                      
                      <div class ="conA">
                        <%= image_tag "d-4.png" %>
                        <div class ="text">
                          <a href="https://www.16personalities.com/ko/%EC%84%B1%EA%B2%A9%EC%9C%A0%ED%98%95-esfp" target="_blank"><span class="badge">ESFP 성향은요?</span></a><br>
                      <label class="radio_button">"자유로운 영혼의 연예인"<br>ESFP<br>
                         <%= f.radio_button :mbti, 'ESFP' %>
                      </label>
                      </div>
                      </div>
                      
                      
                     
                      
                      
                      <!--전체 div-->
                      
                      </div>
                       
                      <div class="modal-footer">
                       <button type="button" class="close">이대로 저장하기&times;</button>  
                 
                 
                </div>
                  
                   
                      </div>
                 
            </div>
             
             <%= f.submit "완료", class:"connect_btn"  %>
             
             
                              
             
            </div>
            
            
                                     

          
            
            
            
             <% end %>
            
 
            
    </body>
    
  
</html>    

 <script>
  
     // Get the modal
        var modal = document.getElementById('myModal');
 
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
 
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];                                          
 
        // When the user clicks on the button, open the modal 
        btn.onclick = function() {
            modal.style.display = "block";
        }
 
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
 
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "display";
            }
        }

  
</script>









   