<!DOCTYPE html>  
<html>
    <head>
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        
        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        
        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <script src="/assets/javascripts/evaluation.js"></script>
        <link rel="stylesheet" type="text/css" href="new.css">
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
       @font-face 
    {
        font-family: 'MainFont';
        src: url('/assets/gsc.ttf'); 
    }
    
    body 
    {
        
      font-family:'MainFont' ;
    }
    .starRev img{
      width: 30px;
      height: 30px;
      display: inline-block;
      text-indent: -9999px;
      cursor: pointer;
    }
    </style>
    </head>

<form action="/evaluate/<%= @project.id %>" method="post">
<body class="main_logo">
    <div class="center">
        <div class="questImage_e1">
            <div class="evaluation_title">
               프로젝트 평가하기
            </div>
            <div class="text_e1">
                프로젝트 : <%= @project.name %>
                <div class ="character_e1">
                    <!--설계자 mbti 캐릭터☆-->
                    <%= image_tag "a-1.png" %>
             <!--여기는 캐릭터를 만드는 div-->
             
            </div>
            <!--매니저이름☆-->
            <div class="nickname">
             설계자 : <%= @pm.name %>
            </div>
                
            <!--여기는 평점 클릭 -->
            <div class="starRev">
                <img src="/blankstar.png" class="rating1">
                <img src="/blankstar.png" class="rating2">
                <img src="/blankstar.png" class="rating3">
                <img src="/blankstar.png" class="rating4">
                <img src="/blankstar.png" class="rating5">
              
            </div>
            </div>
            <!--여기는 서술 입력창-->
                <div class ="input">
                    <input type = 'text' name = 'detail-evaluation' class="detail_e1" placeholder="이번 프로젝트에 대해서 느낀 점을 아무거나 말해주세요."></input>
                </div>
            
        </div>
        
        <div class="questImage_e2">
                <div class="evaluation_title">
               팀원 평가하기
                </div>
            <% @itr = 1 %>
            <% if current_user.id != @pm.id %>
                <% @teams.each do |team| %>
                <% if team.team == Like.find_by(user_id: current_user.id).team %>
                <div class="text_e23"> <!-- 여기 css 고쳐주세요 -->
                 <div class ="team">
                 <div class ="character_e2">
                    <!--팀원 mbti 캐릭터☆-->
                  <%= image_tag "a-1.png"%>
                 <!--여기는 캐릭터를 만드는 div-->
                 
                  
                 <div class="nickname">
                    <!--팀원 이름과 역할☆-->
                 <%= Job.find_by(id: team.role).content %>의 <%= User.find(team.user_id).name %>
    
                 </div>
                 </div>
                 <div class="starRev_individual">
                    <img src="/blankstar.png" class="rating1<%= @itr %>" style="width:30px;height:30px;">
                    <img src="/blankstar.png" class="rating2<%= @itr %>" style="width:30px;height:30px;">
                    <img src="/blankstar.png" class="rating3<%= @itr %>" style="width:30px;height:30px;">
                    <img src="/blankstar.png" class="rating4<%= @itr %>" style="width:30px;height:30px;">
                    <img src="/blankstar.png" class="rating5<%= @itr %>" style="width:30px;height:30px;">
                 
                
                </div>
                 <input type="hidden" name="projectrating<%= @itr %>" class="projectrating<%= @itr %>">
                 
                 </div>
                 
                </div>
                <% @itr = @itr + 1 %>
                <% end %>
                <% end %>
                <input type = 'submit' value = '제출하기' class="connect_btn" style="font-size:18px;margin-top:100%;">
            <% end %>
        </div>
        
    
</form>        
    </div>
    </body>
    


</html>