<!DOCTYPE html>  
<html>
    <head>
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        
        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        
        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="new.css">
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
       @font-face 
    {
        font-family: 'MainFont';
        src: url('/assets/gsc.ttf'); 
    }
    
    body 
    {
        
      font-family:'MainFont' ;
    }
    .starRev img{
      width: 30px;
      height: 30px;
      display: inline-block;
      text-indent: -9999px;
      cursor: pointer;
    }
    </style>
    </head>
<body class="main_logo">
    <div class="center">
        <div class="questImage_e1">
            <div class="evaluation_title">
               프로젝트 평가하기
            </div>
            <div class="text_e1">
                프로젝트 : <%= @project.name %>
                <div class ="character_e1">
                    <!--설계자 mbti 캐릭터☆-->
                    <%= image_tag "a-1.png" %>
             <!--여기는 캐릭터를 만드는 div-->
             
            </div>
            <!--매니저이름☆-->
            <div class="nickname">
             설계자 : <%= @pm.name %>
            </div>
                
            <!--여기는 평점 클릭 -->
            <div class="starRev">
                <img src="/blankstar.png" class="test1">
                <img src="/blankstar.png" class="test2">
                <img src="/blankstar.png" class="test3">
                <img src="/blankstar.png" class="test4">
                <img src="/blankstar.png" class="test5">
              
            </div>
            </div>
            <!--여기는 서술 입력창-->
                <div class ="input">
                    <input type = 'text' name = 'detail-evaluation' class="detail_e1" placeholder="이번 프로젝트에 대해서 느낀 점을 아무거나 말해주세요."></input>
                </div>
            
        </div>
        <% @teams.each do |team| %>
        <div class="questImage_e2">
                <div class="evaluation_title">
               팀원 평가하기
                </div>
            
            
            <div class="text_e2">
             <div class ="team">
             <div class ="character_e2">
                <!--팀원 mbti 캐릭터☆-->
              <%= image_tag "a-1.png"%>
             <!--여기는 캐릭터를 만드는 div-->
             
              </div>
             <div class="nickname">
                <!--팀원 이름과 역할☆-->
             <%= Job.find_by(team.role).content %>의 <%= User.find(team.user_id).name %>

             
             </div>
            
             <div class="starRev">
                <img src="/blankstar.png" class="test6">
                <img src="/blankstar.png" class="test7">
                <img src="/blankstar.png" class="test8">
                <img src="/blankstar.png" class="test9">
                <img src="/blankstar.png" class="test10">
              
            </div>
             <input type="hidden" name="projectrating" class="projectrating">
             
             </div>
             
            </div>
        
        </div>
        <% end %>
    
        
    </div>
    </body>
    


</html>

<script>
  $( document ).ready( function() {
    $(".test1")
      .click( function() { 
        $(this).attr( 'src', '/enteredstar.png' );
        $(".test2").attr( 'src', '/blankstar.png' );
        $(".test3").attr( 'src', '/blankstar.png' );
        $(".test4").attr( 'src', '/blankstar.png' );
        $(".test5").attr( 'src', '/blankstar.png' );
        $(".projectrating").val("1");
      } )

      $(".test2")
      .click( function() { 
        $(this).attr( 'src', '/enteredstar.png' );
        $(".test1").attr( 'src', '/enteredstar.png' );
        $(".test3").attr( 'src', '/blankstar.png' );
        $(".test4").attr( 'src', '/blankstar.png' );
        $(".test5").attr( 'src', '/blankstar.png' );
        $(".projectrating").val("2");
      } )

      $(".test3")
      .click( function() { 
        $(this).attr( 'src', '/enteredstar.png' );
        $(".test1").attr( 'src', '/enteredstar.png' );
        $(".test2").attr( 'src', '/enteredstar.png' );
        $(".test4").attr( 'src', '/blankstar.png' );
        $(".test5").attr( 'src', '/blankstar.png' );
        $(".projectrating").val("3");
      } )
      
      $(".test4")
      .click( function() { 
        $(this).attr( 'src', '/enteredstar.png' );
        $(".test1").attr( 'src', '/enteredstar.png' );
        $(".test2").attr( 'src', '/enteredstar.png' );
        $(".test3").attr( 'src', '/enteredstar.png' );
        $(".test5").attr( 'src', '/blankstar.png' );
        $(".projectrating").val("4");
      } )

      $(".test5")
      .click( function() { 
        $(this).attr( 'src', '/enteredstar.png' );
        $(".test1").attr( 'src', '/enteredstar.png' );
        $(".test2").attr( 'src', '/enteredstar.png' );
        $(".test3").attr( 'src', '/enteredstar.png' );
        $(".test4").attr( 'src', '/enteredstar.png' );
        $(".projectrating").val("5");
      } )

    $(".test6")
      .click( function() { 
        $(this).attr( 'src', '/enteredstar.png' );
        $(".test7").attr( 'src', '/blankstar.png' );
        $(".test8").attr( 'src', '/blankstar.png' );
        $(".test9").attr( 'src', '/blankstar.png' );
        $(".test10").attr( 'src', '/blankstar.png' );
        $(".rating").val("1");
      } )

      $(".test7")
      .click( function() { 
        $(this).attr( 'src', '/enteredstar.png' );
        $(".test6").attr( 'src', '/enteredstar.png' );
        $(".test8").attr( 'src', '/blankstar.png' );
        $(".test9").attr( 'src', '/blankstar.png' );
        $(".test10").attr( 'src', '/blankstar.png' );
        $(".rating").val("2");
      } )

      $(".test8")
      .click( function() { 
        $(this).attr( 'src', '/enteredstar.png' );
        $(".test6").attr( 'src', '/enteredstar.png' );
        $(".test7").attr( 'src', '/enteredstar.png' );
        $(".test9").attr( 'src', '/blankstar.png' );
        $(".test10").attr( 'src', '/blankstar.png' );
        $(".rating").val("3");
      } )
      
      $(".test9")
      .click( function() { 
        $(this).attr( 'src', '/enteredstar.png' );
        $(".test6").attr( 'src', '/enteredstar.png' );
        $(".test7").attr( 'src', '/enteredstar.png' );
        $(".test8").attr( 'src', '/enteredstar.png' );
        $(".test10").attr( 'src', '/blankstar.png' );
        $(".rating").val("4");
      } )

      $(".test10")
      .click( function() { 
        $(this).attr( 'src', '/enteredstar.png' );
        $(".test6").attr( 'src', '/enteredstar.png' );
        $(".test7").attr( 'src', '/enteredstar.png' );
        $(".test8").attr( 'src', '/enteredstar.png' );
        $(".test9").attr( 'src', '/enteredstar.png' );
        $(".rating").val("5");
      } )
  } );
</script>
