<!DOCTYPE html>
<html >
    <head>
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        
        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        
        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="new.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="show.css">   
    <style>
       
     @font-face 
    {
        font-family: 'MainFont'; /* 폰트 패밀리 이름 주기*/
        src: url('/assets/gsc.ttf'); /*폰트 파일 주소*/
    }
    
    body 
    {
      color: black;
      font-family:'MainFont' ;
    }
    </style>
    </head>
      
        <body class="main_logo">
            <!--프로젝트 생성-->
        <!--agomain" href = "/projects">메인으로 가기</a>-->
        
        
        <!--만약 state가 0이라면 -->
        <% if @project.state == 0 %>
            <div class="center">
                <div class="questImage">
                    <div class="title">
                         <%= @project.name %>
                    </div>
                    
                    <div>
                        <h1 class="form_goal">프로젝트 목표 : <%= @project.content %></h1><br>
                        <h2 class="form_deadline">프로젝트 일정 : <%= @project.deadline %></h2>
                    </div>
                    
                    <div class="text_2">
                       <h1><참여한 사람들 목록><h1>
                        <% @likes.each do |like| %>
                                <% if like.project_id == @project.id %>
                                    <td><h3><%= @users.find(like.user_id).name %></h3></td>
                                    <% @numberofpeople = @numberofpeople + 1 %>
                                <% end %>
                        <% end %>
                       
                                
                        <!--만약 멤버라면-->
                       <% if current_user.id != @project.user_id%>
                            <% if current_user.is_like?(@project) %>
                            <h4><%= link_to "참여 취소", project_like_path(@project), method: "POST"  %></h4>
                            <% else %>
                            
                            <% myjob = [] %>
                            <% index = 0 %>
                            
                            <% for i in 1..1000 %>
                               <% if index == @project.numjob %>
                                   <% break %>
                               <% end %>
                               <% if @jobs.find(i).project_id == @project.id %>
                                  <% myjob[index] = @jobs.find(i).id %>  
                                  <% index= index + 1 %>
                               <% end %>
                            <% end %>                        
                            
                            
                            <form action = '/projects/<%= @project.id%>/like', method = "POST">
                                    <% for i in 1.. @project.numjob %>
                                        <%= i %> 지망 <br>
                                        <select name = "value<%=i%>"> 
                                            <%for j in 1 ..@project.numjob %>
                                                <option value= <%=myjob[j-1]%> > <%= @jobs.find(myjob[j-1]).content %> </option> 
                                            <% end %>
                                        </select>><% end %><br>
                                    <% end %>
                                    <input type = 'submit', value = '참여'>  </input>
                            </form>
                        <% end %>
                        <!--만약 멤버라면 끝-->
                        
                        <h3>프로젝트 참여 인원 : <%= @numberofpeople %> 명 <h3><br>
                        
                        <!--팀 짜는 버튼-->
                        <% if current_user.id == @project.user_id %>
                            <form action = '/teambuilding2/<%=@project.id%>'>
                                <input type = 'hidden' name = 'total' value = <%= @numberofpeople %>> </input>
                                <input type = 'submit' value = '이대로 팀짜기' class="all_btn"> </input>
                            </form>
                        <% end %>
                        </div>  
                    
                        <div>
                             <button type="button" class="connect_btn" onclick="copy_trackback(this.href); return false;" ><h4>링크 복사하기 !</h4></button>
                        </div> 
                    
                    </div>
                </div>   
        
            
                
        
        <!--만약 state가 0이라면 끝-->
        <% elsif @project.state == 1 %>
            <!--만약 멤버라면-->
            <% if current_user.id != @project.user_id%>
                <div class="ongoing_teambuilding">
                    <div class="ongoing_title">
                     # <%= @project.name %>
                    </div>
                </div>
            <!--만약 매니저라면-->
            <% else %>
                <div class="ongoing_teambuilding">
                    <div class="ongoing_title">
                     # <%= @project.name %>
                    </div>
                </div>
            <% end %> 
            
        
        <% elsif @project.state == 2 %>
            <% @like = Like.find_by(project: @project.id) %>
            <% @job = [1000, 1000, 1000, 1000, 1000, 1000] %>
                    
            <% @job[0] = @like.one.to_i%>
            <% @job[1] = @like.two.to_i%>
            <% @job[2] = @like.three.to_i%>
            <% @job[3] = @like.four.to_i%>
            <% @job[4] = @like.five.to_i%>
            <% @job[5] = @like.six.to_i%>
            <% @job.sort %>
            
            <%# @like = Like.find_by(project: @project.id) %>
            <%#= @like.user_id %>
                            
            <% @likes.each do |like| %>
                        <% if like.project_id == @project.id %>
                                <% @member = Like.find_by(user: like.user_id) %>
                                <%# @final[like.team.to_i - 1].push(like.user_id) %>
                                
                                <% if  @final[like.team.to_i - 1][like.role.to_i - @job[0]] == 0 %>
                                    <% @final[like.team.to_i - 1][like.role.to_i - @job[0]] = like.user_id %>
                                <% else %>
                                    <% @final[like.team.to_i - 1][@project.numateam.to_i] = like.user_id %>
                                <% end %>
                        <%end%>
            <% end %>
            
            <% if current_user.id != @project.user_id%>
                <!--작성해야함-->
                <%= User.find(current_user.id).name %> 씨,
                앞으로 우리팀 입니당 
                
                <% i = 0 %>
                <% j = 0 %>
                <% ttemp = -1 %>
                <% while @final[i][j] != 0 && ttemp == -1 do %>
                    <% while @final[i][j] !=0 do %>
                        　　　<% if @final[i][j] == current_user.id %>
                            　　 <% ttemp = j %>
                        　　       <% break %>
                        　　　<% end %>
                              <% j = j + 1 %> 
                    <% end %>
                    <% i = i + 1 %>
                    <% j = 0 %>
                    <br>
                <% end %>
                 
                 
                <!--출력문-->
                <% i = 0 %>
                
                <% while @final[ttemp][i] != 0 do %>
                    <%= User.find(@final[ttemp][i].to_i).name %> 　　　　　
                    <% i = i + 1 %>
                <% end %>
                 
            <!--만약 매니저라면-->
            <% elsif current_user.id == @project.user_id%>
            
            
                팀빌딩 완료!
                <br>
                  역할 :      　
                    <% for i in 0 .. (@project.numjob).to_i-1 do %>
                        <%= @jobs.find(@job[i]).content %>** 　　　　　　
                    <% end %> 
                <br> 
                                
                <!--출력문-->
                <% i = 0 %>
                <% j = 0 %>
               
                <% while @final[i][j] != 0 do %>
                팀 <%= i + 1 %> : 
                    <% while @final[i][j] !=0 do %>
                          <%#= @final[i][j] %> 
                    　　　<%= User.find(@final[i][j].to_i).name %> 　　　　　
                          <% j = j + 1 %>
                    <% end %>
                    <% i = i + 1 %>
                    <% j = 0 %>
                    <br>
                <% end %>
                
            <% else %>    
                 Who are you?

            <% end %> 
        
        <% elsif @project.state == 3 %>
    
    
        <% end %> 
        <!--state 끝-->
        </body>
</html>    




<script>
function copy_trackback(address) {
	var IE=(document.all)?true:false;
	var link = document.location.href;

	if (IE) {
		if(confirm("이 글의 주소를 클립보드에 복사하시겠습니까?"))
			window.clipboardData.setData("Text", link);
	} else {
		temp = prompt("이 글의 주소입니다. Ctrl+C를 눌러 클립보드로 복사하세요", link);
	}
}
</script>



        <!--<div class="start_teambuilding">-->
        <!--    <div class="q_start_title">-->
        <!--     # <%#= @project.name %>-->
        <!--    </div>-->
        <!--</div>-->