<!DOCTYPE html>
<html >
    <head>
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        
        <!-- 부가적인 테마 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        
        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="new.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="show.css">   
   <style>
       
     @font-face 
    {
        font-family: 'MainFont'; /* 폰트 패밀리 이름 주기*/
        src: url('/assets/gsc.ttf'); /*폰트 파일 주소*/
    }
    
    body 
    {
      font-family:'MainFont' ;
    }
    </style>
    </head>
    
<!--수정-->
<% if @project.state == 0 %>      
<body class="main_logo">

    <a class="gomain" href = "/projects">메인으로 가기</a>
    
    <div class="center">
        <div class="questImage">
            <div class="title">
                # <%= @project.name %>
            </div>
            <!-- 프로젝트 목표, 마감일자 제시-->
            <div class="text_1">
                <div class="form_goal">프로젝트 목표 : <%= @project.content %></div><br>
                <div class="form_deadline">프로젝트 마감날짜 : <%= @project.deadline %></div>
            </div>
            <div class="text_2">
               <h1>참여한 사람들 목록 <h1>
                <% @likes.each do |like| %>
                        <% if like.project_id == @project.id %>
                            <td><h3><%= @users.find(like.user_id).name %></h3></td>
                            <% @numberofpeople = @numberofpeople + 1 %>
                        <% end %>
                <% end %>
                <!--잠깐 버튼 올림-->
                 <% if current_user.id == @project.user_id %>
                    <form action = '/teambuilding2/<%=@project.id%>'>
                        <input type = 'hidden' name = 'total' value = <%= @numberofpeople %>> </input>
                        <input type = 'submit' value = '현재 인원으로 팀짜기'> </input>
                    </form>
               <% end %>
                
               <!--참여 취소-->
               <% if current_user.is_like?(@project) %>
                    <h4><%= link_to "참여 취소", project_like_path(@project), method: "POST"  %></h4>
                <% else %>
                <% myjob = [] %>
                   <% index = 0 %>
                   <% for i in 1..1000 %>
                       <% if index == @project.numjob %>
                           <% break %>
                       <% end %>
                       <% if @jobs.find(i).project_id == @project.id %>
                          <% myjob[index] = @jobs.find(i).id %>  
                          <% index= index + 1 %>
                       <% end %>
                       <% end %>
                        <form action = '/projects/<%= @project.id%>/like', method = "POST">
                            <% for i in 1.. @project.numjob %>
                                <%= i %> 지망 <br>
                                <select name = "value<%=i%>"> 
                                    <%for j in 1 ..@project.numjob %>
                                        <option value= <%=myjob[j-1]%> > <%= @jobs.find(myjob[j-1]).content %> </option> 
                                    <% end %>
                                </select><br>
                            <% end %>
                            <input type = 'submit', value = '참여'>  </input>
                        </form>
                <% end %>
                <h3>프로젝트 참여 인원 : <%= @numberofpeople %> 명 <h3><br>
               <!--팀 짜는 버튼-->
                <% if current_user.id == @project.user_id %>
                    <form action = '/teambuilding2/<%=@project.id%>'>
                        <input type = 'hidden' name = 'total' value = <%= @numberofpeople %>> </input>
                        <input type = 'submit' value = '현재 인원으로 팀짜기'> </input>
                    </form>
               <% end %>
            </div>   
            <div>
                 <button type="button" class="connect_btn" onclick="copy_trackback(this.href); return false;" >링크 복사하기 !</button>
              
            </div>   
        </div>
    </div>   

</div>
    

    <!--코드의 무덤... 혹시 살리려거든 가져가세요-->
    <%# if current_user.is_like?(@project) %>
                    <%#= link_to "참여 취소", project_like_path(@project), method: "POST" %>
                <%# else %>
                    <%#= link_to "참여", project_like_path(@project), method: "POST" %>
                <%# end %>
     <!--<form action = '/projects/<%#= @project.id%>/like', method = "POST">-->
                            <!--        <%# for i in 1.. @project.numjob %>-->
                            <!--             <%#= i %> 지망 <br>-->
                            <!--                  <%#for j in 1 ..@project.numjob %>-->
                            <!--                            <%#= @jobs.find(myjob[j-1]).content %>-->
                            <!--                            <input type="checkbox" name="" value=""/> -->
                            <!--                  <%# end %>-->
                            <!--             <br>-->
                            <!--        <%# end %>-->
                                        
                            <!--    <input type = 'submit', value = '참여'>  </input>-->
                            <!--</form>-->
    <!--<a href = '/teambuilding/<%#=@project.id%>'> 현재 인원으로 팀짜기 </a>-->
                    <!--<form action = '/teambuilding/<%#=@project.id%>'>-->
</body>

<% elsif @project.state == 1 %>
    현재 팀장이 열심히 ! 팀빌딩 중입니다!!!!
    
    
<% elsif @project.state == 2 %>    
    팁빌딩 완료!
    <% if current_user.id == @project.user_id %>
        난 방장임
        <% @like = Like.find_by(project: @project.id) %>
         역할 :      　
            <% for i in 0 .. (@project.numberofjob).to_i-1 do %>
  　               **<%= @Jobs.find(@job[i]).content %>** 　　　　　　
            <% end %>
    <% end %>
<% end %>
</html>    




<script>
function copy_trackback(address) {
	var IE=(document.all)?true:false;
	var link = document.location.href;

	if (IE) {
		if(confirm("이 글의 주소를 클립보드에 복사하시겠습니까?"))
			window.clipboardData.setData("Text", link);
	} else {
		temp = prompt("이 글의 주소입니다. Ctrl+C를 눌러 클립보드로 복사하세요", link);
	}
}
</script>